a:link{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: yellowgreen;
}
.RegisterButton:hover{
    background-color: forestgreen;
}
.RegisterButton{
    background-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border-left: none;
    border-right: outset 1px greenyellow;
    border-top: none;
    border-bottom: outset 1px greenyellow;
}
.loginButton:hover {
    background-color: forestgreen;
}
.loginButton{
    background-color: green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border-left: none;
    border-right: outset 2px greenyellow;
    border-top: none;
    border-bottom: outset 2px greenyellow;
}
div.Login{
    width:500px;
    height: 480px;
    position: relative;
    left: 480px;
    top: 60px;
    padding: 10px;
    border-radius: 15px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: white;
    border-left: outset 1px whitesmoke;
    border-right: outset 2px whitesmoke;
    border-top: outset 1px whitesmoke;
    border-bottom: outset 2px whitesmoke;
}
div.LoginText{
    position: relative;
    left: 42px;
    top: 10px;
}
div.EmailBox{
    position: relative;
    top: 13px;
    left: 42px;
}
div.EmailText{
    position: relative;
    top: 5px;
    left: 42px;
}
div.LoginBox{
    position: relative;
    top: 15px;
    left: 42px;
}
div.RegisterText{
    position: relative;
    left: 280px;
    top: -280px;
}
div.pass{
    position: relative;
    left: 42px;
}
div.ForgetPas{
    position: relative;
    left: 205px;
    top: -15px;
}
div.NameText{
    position: relative;
    top: 5px;
    left: 42px;
}
div.NameBox{
    position: relative;
    top: 13px;
    left: 42px;
}
div.LnameText{
    position: relative;
    top: -107px;
    left: 260px;
}
div.LnameBox{
    position: relative;
    top: -102px;
    left: 260px;
}
div.EmailBoxRegister{
    position: relative;
    top: -125px;
    left: 42px;
}
div.EmailTextRegister{
    position: relative;
    top: -130px;
    left: 42px;
}
div.passRegister{
    position: relative;
    left: 42px;
    top: -150px;
}
div.RegisterButton{
    position: relative;
    top: -150px;
    left: 42px;
}
div.checkBox{
    position: relative;
    top: -170px;
    left: 40px;
}
div.ResetText{
    position: relative;
    border: 1px solid white;
    left: 42px;
    top: 20px;
}
.EmailMessage{
    position: relative;
    font-style: italic;
    top: -15px;
}
.resetButton{
    background-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border-left: none;
    border-right: outset 2px greenyellow;
    border-top: none;
    border-bottom: outset 2px greenyellow;
}
.resetButton:hover{
    background-color: forestgreen;
}
div.resetBox{
    position: relative;
    left: 42px;
    top: 10px;
}
div.ReturnToLogin{
    position: relative;
    left: 210px;
    top: 20px;
    font-size: 16px;
}
div.EmailSentBox{
    position: relative;
    top: 35px;
    left: 42px;
}
div.EmailSentText{
    position: relative;
    top: 30px;
    left: 42px;
}
div.haveAccount{
    position: relative;
    top: -430px;
    left: 235px;
}
.index{
    text-align:center
}
